<header>
  <!-- Fixed navbar -->
  <nav class="navbar  navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" style="color:beige">
      <i class="fab fa-facebook-f"></i>
      facebook
    </a>

    <ul class="navbar-nav">
      <ng-template [ngIf]="unread$ | async" [ngIfElse]="noUnreadMsg" let-unread>
        <li class="nav-item">
          <a class="nav-link" (click)="onRead()" href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-danger">{{unread}}</span>
          </a>
        </li>
      </ng-template>

      <ng-template #noUnreadMsg>
        <i class="far fa-envelope-open"></i>
      </ng-template>
    </ul>
  </nav>
</header>